<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.day32"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.day32.startservice.TestStartService" />
        <service android:name="com.example.day32.startservice.MyService" />
        <activity android:name="com.example.day32.music.TestMusicService" />
        <service  android:name="com.example.day32.music.MusicService"></service>
        <activity android:name="com.example.day32.codebroadcast.TestCodeBroadcast" />
        <service android:name="com.example.day32.codebroadcast.RegisterService" />
        <activity android:name="com.example.day32.remoteservice.TestRemoteService" />
        <activity android:name="com.example.day32.remotepay.TestRemotePayService" />
        <activity android:name="com.example.day32.styles.TestStyles"
            android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
    </application>

</manifest>
